@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Auth - ForgotPassword";
}

<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h1>Find your account</h1>
            <form asp-action="ForgotPassword">
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input class="form-control" asp-for="EmailAddress">
                </div>

                <input type="submit" value="Reset Password" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>